{{#if addNewAnswer}}
<h3>New Answer:</h3>
  <div>
    <form>

      <div class="form-group">
        <label for="content">Content:</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author"}}
      </div>

      <button class="btn btn-success"{{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <br>
  <button class="btn btn-primary"{{action 'answerFormShow'}}>New Answer</button>
{{/if}}
