<li>
  <p>{{question.inquiry}}</p>
  <p>additional notes: {{question.note}}</p>
  <p>By: {{question.author}}</p>
</li>

<h2>Answers</h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button>
